* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 2px dodgerblue;
    z-index: 1;
}

.logo {
    width: 70px;
    height: 70px;
}

#btn1 {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}